In [ ]:
%env PGDATABASE=postgres
%env PGHOST=172.24.144.10
%env PGPORT=5432
%env PGUSER=postgres
%env PGPASSWORD=Renzoe22
%env PGINSTANCE=pg

In [ ]:
!psql -c "\i pagila/pagila-schema.sql"

In [ ]:
!psql -c "\i pagila/pagila-insert-data.sql"

In [ ]:
!psql -c "\d pagila.actor"

In [ ]:
!psql -c "\d pagila.country"

In [ ]:
!psql -c "\d pagila.city"

In [ ]:
!psql -c "\d pagila.address"

In [ ]:
!psql -c "\d pagila.category"

In [ ]:
!psql -c "\d pagila.store"

In [ ]:
!psql -c "\d pagila.customer"

In [ ]:
!psql -c "\d pagila.language"

In [ ]:
!psql -c "\d pagila.film"

In [ ]:
!psql -c "\d pagila.film_actor"

In [ ]:
!psql -c "\d pagila.film_category"

In [ ]:
!psql -c "\d pagila.inventory"

In [ ]:
!psql -c "\d pagila.staff"

In [ ]:
!psql -c "\d pagila.rental"

In [ ]:
!psql -c "\d pagila.payment"

In [ ]:
!psql -c "select * from pagila.actor limit 5"

In [213]:
#inner join: The first and last name of every actor in the film with film_id = 10, ordered by last name (inner join)
!psql -c "select pagila.actor.actor_id, first_name, last_name, film_id from pagila.actor INNER join pagila.film_actor on pagila.actor.actor_id = pagila.film_actor.actor_id where film_id = 10 order by last_name"

 actor_id | first_name | last_name | film_id
----------+------------+-----------+---------
       37 | VAL        | BOLGER    |      10
       35 | JUDY       | DEAN      |      10
      188 | ROCK       | DUKAKIS   |      10
       64 | RAY        | JOHANSSON |      10
      157 | GRETA      | MALDEN    |      10
      142 | JADA       | RYDER     |      10
      117 | RENEE      | TRACY     |      10
       29 | ALEC       | WAYNE     |      10
(8 rows)

In [216]:
#inner join: The title and rental rate of every film with language English, ordered by release year (limit 15)
!psql -c "select title, rental_rate, release_year from pagila.film inner join pagila.language on pagila.film.language_id = pagila.language.language_id where name = 'English' order by release_year limit 15"

      title       | rental_rate | release_year
------------------+-------------+--------------
 ACE GOLDFINGER   |        4.99 |         2006
 ADAPTATION HOLES |        2.99 |         2006
 AFFAIR PREJUDICE |        2.99 |         2006
 AFRICAN EGG      |        2.99 |         2006
 AGENT TRUMAN     |        2.99 |         2006
 AIRPLANE SIERRA  |        4.99 |         2006
 AIRPORT POLLOCK  |        4.99 |         2006
 ALABAMA DEVIL    |        2.99 |         2006
 ALADDIN CALENDAR |        4.99 |         2006
 ALAMO VIDEOTAPE  |        0.99 |         2006
 ALASKA PHANTOM   |        0.99 |         2006
 DATE SPEED       |        0.99 |         2006
 ALI FOREVER      |        4.99 |         2006
 ALICE FANTASIA   |        0.99 |         2006
 ACADEMY DINOSAUR |        0.99 |         2006
(15 rows)

In [215]:
#inner join:List of cities,districts,postal codes in country with country_id = 50, ordered by city
!psql -c "select city,district,postal_code from pagila.country inner join pagila.city on pagila.country.country_id = pagila.city.country_id inner join pagila.address on pagila.address.city_id = pagila.city.city_id where pagila.city.country_id = 50 order by city"

     city     | district  | postal_code
--------------+-----------+-------------
 Akishima     | Tokyo-to  | 33384
 Fukuyama     | Hiroshima | 93762
 Higashiosaka | Osaka     | 19428
 Hino         | Tokyo-to  | 32114
 Hiroshima    | Hiroshima | 52137
 Isesaki      | Gumma     | 61244
 Iwaki        | Fukushima | 1921
 Iwakuni      | Yamaguchi | 48980
 Iwatsuki     | Saitama   | 73824
 Izumisano    | Osaka     | 83536
 Kakamigahara | Gifu      | 57844
 Kamakura     | Kanagawa  | 1079
 Kanazawa     | Ishikawa  | 19151
 Koriyama     | Fukushima | 13496
 Kurashiki    | Okayama   | 94065
 Kuwana       | Mie       | 88408
 Matsue       | Shimane   | 81508
 Miyakonojo   | Miyazaki  | 32474
 Nagareyama   | Chiba     | 38594
 Okayama      | Okayama   | 46400
 Okinawa      | Okinawa   | 45750
 Omiya        | Saitama   | 7664
 Onomichi     | Hiroshima | 52368
 Otsu         | Shiga     | 46044
 Sagamihara   | Kanagawa  | 1027
 Sasebo       | Nagasaki  | 35200
 Shimonoseki  | Yamaguchi | 65750
 Tama         | Ibaragi   | 14073
 Tsuyama      | Okayama   | 87212
 Ueda         | Nagano    | 90797
 Urawa        | Saitama   | 99457
(31 rows)

In [178]:
#outer join: The rental_id, name, rental date, and return date of customers who rented inventory item with inventory_id = 10, ordered by last name
!psql -c "select rental_id,first_name,last_name,rental_date,return_date from pagila.customer full outer join pagila.rental on pagila.customer.customer_id = pagila.rental.customer_id where pagila.rental.inventory_id=10 order by last_name"

 rental_id | first_name | last_name |      rental_date       |      return_date
-----------+------------+-----------+------------------------+------------------------
      7733 | KATHRYN    | COLEMAN   | 2005-07-28 05:04:47+00 | 2005-08-05 05:12:47+00
     15218 | AMBER      | DIXON     | 2005-08-22 16:59:05+00 | 2005-08-30 17:01:05+00
      4364 | LUCILLE    | HOLMES    | 2005-07-07 19:46:51+00 | 2005-07-08 21:55:51+00
(3 rows)

In [190]:
#outer join: selects the address, city_id, name and email of every employee first named Mike, ordered by last name
!psql -c "select city_id, address, first_name, last_name, email from pagila.address right join pagila.staff on pagila.address.address_id = pagila.staff.address_id where first_name= 'Mike' order by last_name"

 city_id |      address      | first_name | last_name |            email
---------+-------------------+------------+-----------+------------------------------
     300 | 23 Workhaven Lane | Mike       | Hillyer   | Mike.Hillyer@sakilastaff.com
(1 row)

In [177]:
#outer join: The title, rating, and length of every horror film ordered by length, with limit 10.
!psql -c "select title,rating,length from pagila.category full join pagila.film_category on pagila.category.category_id = pagila.film_category.category_id full join pagila.film on pagila.film.film_id = pagila.film_category.film_id where name = 'Horror' order by length limit 10"

        title         | rating | length
----------------------+--------+--------
 ACE GOLDFINGER       | G      |     48
 SIMON NORTH          | NC-17  |     51
 AIRPORT POLLOCK      | R      |     54
 COMMANDMENTS EXPRESS | R      |     59
 ARABIA DOGMA         | NC-17  |     62
 DESERT POSEIDON      | R      |     64
 FREDDY STORM         | NC-17  |     65
 LADY STAGE           | PG     |     67
 TEMPLE ATTRACTION    | PG     |     71
 TRAIN BUNCH          | R      |     71
(10 rows)

In [212]:
#self join: customers who have the same first name
!psql -c "select c1.customer_id as c1_customer_id, c1.first_name as c1_first_name,c1.last_name as c1_last_name,c2.customer_id as c2_customer_id,c2.first_name as c2_first_name,c2.last_name as c2_last_name from pagila.customer c1 join pagila.customer c2 on c1.customer_id != c2.customer_id and c1.first_name = c2.first_name order by c1.last_name"

 c1_customer_id | c1_first_name | c1_last_name | c2_customer_id | c2_first_name | c2_last_name
----------------+---------------+--------------+----------------+---------------+--------------
            215 | JESSIE        | BANKS        |            533 | JESSIE        | MILAM
            253 | TERRY         | CARLSON      |            355 | TERRY         | GRISSOM
            108 | TRACY         | COLE         |            589 | TRACY         | HERRMANN
            143 | LESLIE        | GORDON       |            506 | LESLIE        | SEWARD
            355 | TERRY         | GRISSOM      |            253 | TERRY         | CARLSON
            589 | TRACY         | HERRMANN     |            108 | TRACY         | COLE
            219 | WILLIE        | HOWELL       |            359 | WILLIE        | MARKHAM
            546 | KELLY         | KNOTT        |             67 | KELLY         | TORRES
            359 | WILLIE        | MARKHAM      |            219 | WILLIE        | HOWELL
            533 | JESSIE        | MILAM        |            215 | JESSIE        | BANKS
            588 | MARION        | OCAMPO       |            178 | MARION        | SNYDER
            146 | JAMIE         | RICE         |            531 | JAMIE         | WAUGH
            506 | LESLIE        | SEWARD       |            143 | LESLIE        | GORDON
            178 | MARION        | SNYDER       |            588 | MARION        | OCAMPO
             67 | KELLY         | TORRES       |            546 | KELLY         | KNOTT
            531 | JAMIE         | WAUGH        |            146 | JAMIE         | RICE
(16 rows)