In [1]:
%env CYPHER=/home/jupyter/neo4j-community-4.3.3/bin/cypher-shell
%env USER=neo4j
%env PW=Renzoe22

env: CYPHER=/home/jupyter/neo4j-community-4.3.3/bin/cypher-shell
env: USER=neo4j
env: PW=Renzoe22

In [2]:
CONNECT="$CYPHER -u $USER -p $PW"

In [21]:
!$CONNECT "MATCH (n) DETACH DELETE n"
!$CONNECT "DROP INDEX ON :Listing(listing_id);"
!$CONNECT "DROP CONSTRAINT ON (u:User) ASSERT u.user_id IS UNIQUE;"
!$CONNECT "DROP CONSTRAINT ON (n:Neighborhood) ASSERT n.neighborhood_id IS UNIQUE;"
!$CONNECT "DROP CONSTRAINT ON (a:Amenity) ASSERT a.name IS UNIQUE;"
!$CONNECT "DROP CONSTRAINT ON (h:Host) ASSERT h.host_id IS UNIQUE;"

0 rows
ready to start consuming query after 37 ms, results consumed after another 0 ms
Deleted 5835 nodes
0 rows
ready to start consuming query after 10 ms, results consumed after another 0 ms
Removed 1 indexes
0 rows
ready to start consuming query after 11 ms, results consumed after another 0 ms
Removed 1 constraints
0 rows
ready to start consuming query after 7 ms, results consumed after another 0 ms
Removed 1 constraints
0 rows
ready to start consuming query after 8 ms, results consumed after another 0 ms
Removed 1 constraints
0 rows
ready to start consuming query after 7 ms, results consumed after another 0 ms
Removed 1 constraints

In [22]:
!cat /home/jupyter/airbnb/load_data.cypher | {CONNECT} --format plain

COUNT(l)
5835
COUNT(a)
42
COUNT(n)
41
COUNT(h)
4633
COUNT(u)
55917
COUNT(r)
62976

In [23]:
!{CONNECT} "MATCH (n) RETURN count(n)"

+----------+
| count(n) |
+----------+
| 129444   |
+----------+

1 row
ready to start consuming query after 7 ms, results consumed after another 0 ms

In [24]:
!{CONNECT} "MATCH (n) RETURN distinct labels(n), count(n)"

+-----------------------------+
| labels(n)        | count(n) |
+-----------------------------+
| ["User"]         | 55917    |
| ["Review"]       | 62976    |
| ["Listing"]      | 5835     |
| ["Amenity"]      | 42       |
| ["Neighborhood"] | 41       |
| ["Host"]         | 4633     |
+-----------------------------+

6 rows
ready to start consuming query after 10 ms, results consumed after another 56 ms

In [28]:
!{CONNECT} "MATCH (h:Host {{location: 'Austin, Texas, United States'}}) RETURN count(h)"

+----------+
| count(h) |
+----------+
| 3774     |
+----------+

1 row
ready to start consuming query after 26 ms, results consumed after another 34 ms

In [30]:
!{CONNECT} "MATCH (h:Host {{host_id:'4641823'}}) -[*]-> (l:Listing) RETURN l.name,l.property_type,l.price,l.availability_365 ORDER BY l.price LIMIT 10"

+----------------------------------------------------------------------------------------+
| l.name                                | l.property_type | l.price | l.availability_365 |
+----------------------------------------------------------------------------------------+
| "1BR Convenient Austin Condo "        | "Apartment"     | 93.0    | 354                |
| "1BR Inviting Downtown Condo, Pool"   | "Apartment"     | 99.0    | 335                |
| "2BR/1.5BA Charming House Off SoCo"   | "House"         | 110.0   | 357                |
| "2BR Prime East-Side Downtown"        | "House"         | 121.0   | 341                |
| "1BR SoCo Treehouse Studio"           | "House"         | 129.0   | 327                |
| "1BR/1.5BA East 6th, Colorful 2Story" | "Apartment"     | 134.0   | 344                |
| "3BR Prestigious Home Travis Heights" | "House"         | 138.0   | 0                  |
| "1BR/1.5BA Perfectly Located Casita"  | "House"         | 140.0   | 351                |
| "3BR/2BA Inviting Retreat off SoCo"   | "House"         | 145.0   | 353                |
| "1BR Chic Studio, Hyde Park, Austin"  | "Apartment"     | 149.0   | 354                |
+----------------------------------------------------------------------------------------+

10 rows
ready to start consuming query after 53 ms, results consumed after another 9458 ms

In [33]:
!{CONNECT} "MATCH (u:User) -[*]-> (l:Listing {{listing_id:'5293632'}}) RETURN u.user_id, u.name ORDER BY u.name LIMIT 10"

+--------------------------------+
| u.user_id  | u.name            |
+--------------------------------+
| "18286390" | "Annie"           |
| "30193020" | "Carole"          |
| "16497582" | "Cory"            |
| "35022795" | "Craig And Trina" |
| "13281665" | "Dianne"          |
| "29601600" | "Hannah"          |
| "11940539" | "Jacob"           |
| "3213433"  | "Jessie"          |
| "41722221" | "Johannes"        |
| "28480571" | "Ju-Ju"           |
+--------------------------------+

10 rows
ready to start consuming query after 68 ms, results consumed after another 1022 ms

In [35]:
!{CONNECT} "MATCH (u:User) -[*]-> (a:Amenity {{name: 'Washer / Dryer'}}) RETURN u.user_id, u.name ORDER BY u.name LIMIT 10"

+-----------------------+
| u.user_id | u.name    |
+-----------------------+
| "1627563" | "Andrew"  |
| "1631432" | "Bryan"   |
| "2784203" | "Cindy"   |
| "416470"  | "Henrik"  |
| "386269"  | "Scott"   |
| "430392"  | "Thaniya" |
| "316879"  | "Warren"  |
+-----------------------+

7 rows
ready to start consuming query after 53 ms, results consumed after another 1656 ms

In [39]:
!{CONNECT} "MATCH (l:Listing {{bedrooms:3}}) -[*]-> (n:Neighborhood {{name:'Clarksville'}}) RETURN l.name,l.property_type,l.price,l.availability_365 ORDER BY l.price LIMIT 5"

+----------------------------------------------------------------------------------------+
| l.name                                | l.property_type | l.price | l.availability_365 |
+----------------------------------------------------------------------------------------+
| "3BR/2.5BA Exquisite Townhouse"       | "House"         | 222.0   | 358                |
| "Austin downtown hideaway"            | "House"         | 249.0   | 364                |
| "3BR/2.5BA Tarrytown Duplex, Austin!" | "House"         | 249.0   | 336                |
| "3BD Luxury Cottage by Lake Austin"   | "House"         | 290.0   | 309                |
| "Entire Adorable Downtown House"      | "House"         | 295.0   | 309                |
+----------------------------------------------------------------------------------------+

5 rows
ready to start consuming query after 52 ms, results consumed after another 26 ms

In [54]:
!{CONNECT} "MATCH (l:Listing)-[r]->(a:Amenity) RETURN distinct a.name, count(r) ORDER BY count(r) DESC LIMIT 5"

+---------------------------------------+
| a.name                     | count(r) |
+---------------------------------------+
| "Air Conditioning"         | 5615     |
| "Wireless Internet"        | 5479     |
| "Heating"                  | 5440     |
| "Kitchen"                  | 5400     |
| "Free Parking on Premises" | 5123     |
+---------------------------------------+

5 rows
ready to start consuming query after 24 ms, results consumed after another 81 ms

In [59]:
!{CONNECT} "MATCH (l:Listing)-[r]->(n:Neighborhood) RETURN distinct n.name, n.neighborhood_id, count(r) ORDER BY count(r) DESC LIMIT 5"

+-------------------------------------------------+
| n.name           | n.neighborhood_id | count(r) |
+-------------------------------------------------+
| NULL             | "78704"           | 1601     |
| NULL             | "78702"           | 797      |
| "Clarksville"    | "78703"           | 419      |
| "East Riverside" | "78741"           | 414      |
| NULL             | "78745"           | 328      |
+-------------------------------------------------+

5 rows
ready to start consuming query after 25 ms, results consumed after another 7 ms